* {
    box-sizing: border-box;
    font-family: "Roboto", "Arial";
    color: white;
    margin: 0;
}

:root {
    --bg-title: rgb(58, 107, 245);
    --bg-nav: rgb(48, 161, 73);
    --bg-container: rgb(216, 122, 0);
    --bg-footer: rgb(56, 56, 56);
}

.title {
    background-color: var(--bg-title);
    grid-area: title;
    padding: 20px 10px;
}

.nav {
    background-color: var(--bg-nav);
    grid-area: nav;
    padding: 10px;
}

.container {
    background-color: var(--bg-container);
    margin: 5px;
    padding: 5px;
}

.item01 {
    grid-area: item01;
}

.item02 {
    grid-area: item02;
}

.footer {
    background-color: var(--bg-footer);
    grid-area: footer;
    padding: 10px;
}

.grid {
    display: grid;
}

.grid-template-areas {
    grid-template: 
    "title title"
    "nav nav"
    "item01 item02" 430px
    "footer footer"
    ;
}
