<div class="p-3 bg-dark text-light rounded-1 h-100">
    <div class="row mt-2">
        <div class="col-12">
            <h3>Logs</h3>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12">
            <div class="table-responsive-y">
                <table class="table table-dark table-striped">
                    <thead class="sticky-top top-0">
                        <tr>
                            <th>Action</th>
                            <th>Task Title</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let task of taskLogs.reverse()">
                            <td>{{task.log}}</td>
                            <td>{{task.title}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
