<section id="catalog">
    <h3>Cardápio/Catálogo</h3>
    
    <div class="product">
        <img src="../../../assets/images/pizza.jpg" alt="Foto da pizza">
        <h5>Produto 1</h5>
        <p>Descrição do Produto 1.</p>
    </div>
    
    <div class="divider"></div>
        
    <div class="product">
        <img src="../../../assets/images/pizza.jpg" alt="Foto da pizza">
        <h5>Produto 2</h5>
        <p>Descrição do Produto 2.</p>
    </div>

    <div class="divider"></div>

    <div class="product">
        <img src="../../../assets/images/pizza.jpg" alt="Foto da pizza">
        <h5>Produto 3</h5>
        <p>Descrição do Produto 3.</p>
    </div>

    <div class="divider"></div>

    <div class="product">
        <img src="../../../assets/images/pizza.jpg" alt="Foto da pizza">
        <h5>Produto 4</h5>
        <p>Descrição do Produto 4.</p>
    </div>

    <div class="divider"></div>

    <div class="product">
        <img src="../../../assets/images/pizza.jpg" alt="Foto da pizza">
        <h5>Produto 5</h5>
        <p>Descrição do Produto 5.</p>
    </div>

    <div class="divider"></div>

    <div class="product">
        <img src="../../../assets/images/pizza.jpg" alt="Foto da pizza">
        <h5>Produto 6</h5>
        <p>Descrição do Produto 6.</p>
    </div>

    <div class="divider"></div>
        
    <div class="product">
        <img src="../../../assets/images/pizza.jpg" alt="Foto da pizza">
        <h5>Produto 7</h5>
        <p>Descrição do Produto 7.</p>
    </div>

    <div class="divider"></div>
</section>