@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");

body {
    font-family: "Montserrat", sans-serif;
}

.font-title {
    font-family: "Dancing Script", cursive;
    font-weight: bold;
}

nav .font-title {
    font-size: 2rem;
}

.carousel-item h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

nav li a.active {
    color: #ffbe33 !important;
}

.main-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.off-img img {
    height: 175px;
    width: 175px;
}

.social-links a {
    width: 30px;
    height: 30px;
}

.bg-card {
    background-color: #222831;
}

.btn-hover:hover {
    background-color: #e69c00;
    border-color: #e69c00;
}

.link-hover:hover {
    color: #ffbe33 !important;
}