<app-header></app-header>

<div class="container-fluid">
    <div class="row row-cols-1 row-cols-md-3 g-4 mt-2">
        <app-task-form class="col" 
            (newTask)="onAddTask($event)" 
            (updateTask)="onUpdateTask($event)" 
            [task]="editTask">
        </app-task-form>

        <app-task-detail class="col" 
            [task]="detailTask">
        </app-task-detail>

        <app-task-logs class="col" 
            [taskLogs]="taskLogs">
        </app-task-logs>
    </div>

    <hr class="my-4 border-2">

    <app-task-list 
        [taskList]="database" 
        (detailTask)="onDetailTask($event)" 
        (editTask)="onEditTask($event)">
    </app-task-list>
</div>

<app-footer></app-footer>
