<form [formGroup]="taskForm" (ngSubmit)="submitTask()" 
    class="p-3 bg-dark text-light rounded-1">
    <div class="row mt-2">
        <div class="col-12">
            <h3 class="d-flex justify-content-between">
                {{!updateForm ? 'Add Task' : 'Update Task'}}
                <i (click)="clearForm()" role="button">&times;</i>
            </h3>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <label class="form-label" for="title">Title</label>
            <input class="form-control" type="text" name="title" id="title" formControlName="title" required>
            <div *ngIf="taskForm.get('title')?.hasError('required') && taskForm.get('title')?.touched"
                class="alert alert-danger">
                Title is required.
            </div>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-12">
            <label class="form-label" for="description">Description</label>
            <textarea class="form-control" name="description" id="description" formControlName="description" cols="30"
                rows="2" required></textarea>
            <div *ngIf="taskForm.get('description')?.hasError('required') && taskForm.get('description')?.touched"
                class="alert alert-danger">
                Description is required.
            </div>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-6">
            <label class="form-label" for="date">Due Date</label>
            <input class="form-control" type="date" name="date" id="date" formControlName="date"
                pattern="\d{4}-\d{2}-\d{2}" required>
            <div *ngIf="taskForm.get('date')?.hasError('required') && taskForm.get('date')?.touched"
                class="alert alert-danger">
                Date is required.
            </div>
        </div>
        <div class="col-6">
            <label class="form-label" for="status">Status</label>
            <select class="form-select" name="status" id="status" formControlName="status" required>
                <option value="toDo">To Do</option>
                <option value="inProgress">In Progress</option>
                <option value="Completed">Completed</option>
            </select>
            <div *ngIf="taskForm.get('status')?.hasError('required') && taskForm.get('status')?.touched"
                class="alert alert-danger">
                Status is required.
            </div>
        </div>
    </div>
    <div class="row my-4">
        <div class="col-12">
            <button class="btn btn-outline-light" [disabled]="taskForm.invalid" type="submit">Submit</button>
        </div>
    </div>
</form>